{% extends 'layout.html' %}
{% block title %}Đăng ký{% endblock %}
{% block content %}
<h2 class="mb-4 text-center animate__animated animate__fadeInDown">Đăng ký tài khoản</h2>
<form method="post" class="animate__animated animate__fadeIn">
    <div class="mb-3">
        <label class="form-label">Tên đăng nhập</label>
        <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Mật khẩu</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <div class="d-grid mb-2">
        <button type="submit" class="btn btn-custom btn-lg">Đăng ký</button>
    </div>
    <div class="text-center mt-2">
        <a href="{{ url_for('login') }}">Đã có tài khoản? Đăng nhập</a>
    </div>
</form>
{% endblock %}
